.show-box {
  padding: 0.6133333333rem 0.6666666667rem 0.38rem 0.96rem;
  margin-bottom: 0.5333333333rem;
  font-family: PingFang-SC-Bold;
  color: #FFFFFF;
  background: #4DC860;
}

.show-box .show-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.show-box .show-num {
  font-size: 14px;
}

.show-box .percentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-box .percentage .percentage-num {
  font-size: 43px;
}

.show-box .percentage .proportion {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.num-red {
  color: #FD4432 !important;
}

.num-green {
  color: #03AD41 !important;
}

.num-blue {
  color: #4088E4 !important;
}

.num-brown {
  color: #C91D23;
}

.show-data {
  background: #ffffff;
  margin-bottom: 0.5333333333rem;
}

.show-data .show-left {
  display: inline-block;
}

.show-data .show-right {
  display: inline-block;
}

.show-data .show-right .btn-no {
  padding: 0.1333333333rem;
  border: 1px solid #A3ABB6;
  border-radius: 2px;
  font-size: 10px;
  color: #959EAB;
  background: none;
  outline: none;
}

.show-data .show-right .btn-yes {
  border: none;
  padding: 0.16rem;
  border-radius: 2px;
  font-size: 10px;
  color: #ffffff;
  background: #2F4FCC;
  outline: none;
}

.show-data .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.4rem !important;
}

.show-data .show-name {
  padding: 0.2933333333rem 0 0.2933333333rem 0.2666666667rem;
  border-bottom: 1px solid #EAEAEA;
}

.show-data .show-name .show-icon {
  width: 0.7733333333rem;
  height: 0.7733333333rem;
  vertical-align: middle;
}

.show-data .show-name .data-text {
  font-size: 16px;
  color: #282828;
  vertical-align: middle;
  font-family: PingFang-SC-Medium;
}

.show-data .hold {
  padding: 0.48rem 0.9066666667rem 0.56rem 0;
  display: flex;
}

.show-data .hold .hold-logo {
  width: 2.2933333333rem;
  border-right: 1px solid #EAEAEA;
  height: 2.9066666667rem;
  line-height: 2.9066666667rem;
  text-align: center;
  display: inline-block;
}

.show-data .hold .hold-logo .hold-cir {
  display: inline-block;
  width: 1.8666666667rem;
  height: 1.8666666667rem;
  line-height: 1.8666666667rem;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  background: #2C2C2C;
  color: #ffffff;
}

.show-data .hold .title-money {
  position: relative;
  display: inline-block;
  width: 6.4rem;
  margin-left: 0.4rem;
}

.show-data .hold .title-money .hold-title {
  position: absolute;
  color: #343434;
  font-size: 12px;
  top: 0;
}

.show-data .hold .title-money .buy-money {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  bottom: 0;
}

.show-data .hold .title-money .buy-money .buy-num {
  display: flex;
  flex-direction: column;
}

.show-data .hold .title-money .buy-money .buy-num .money-name {
  color: #959EAB;
  font-size: 12px;
}

.show-data .hold .title-money .buy-money .buy-num .money-num {
  color: #C91D23;
  font-size: 18px;
}

.show-data .hold .title-money .buy-money .buy-num .money-signal {
  color: #1C1C1C;
  font-size: 18px;
}

.show-data .tab-box {
  padding: 0.4266666667rem;
}

.show-data .tab-box table {
  border: 1px solid #E6E7F3;
  width: 100%;
}

.show-data .tab-box table .one-tr {
  border-bottom: 1px solid #E6E7F3;
}

.show-data .tab-box table .one-tr th {
  color: #9C9FA7;
  font-size: 11px;
  text-align: center;
}

.show-data .tab-box table tr {
  height: 0.7733333333rem;
}

.show-data .tab-box table tr td {
  color: #3A3A3A;
  font-size: 12px;
  text-align: center;
}
.show-data .tab-box table tr .green{
    color: #42C14E;
    font-size: 12px;
    text-align: center;
}
.show-data .tab-box table tr .red{
  color: #FF303B;
  font-size: 12px;
  text-align: center;
}
.show-data .history-data {
  padding: 0.4rem;
}

.show-data .history-data .history-text {
  font-size: 16px;
  color: #343434;
  margin-bottom: 0.4rem;
}

.show-data .history-data .range-box {
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  margin-bottom: 0.32rem;
}

.show-data .history-data .range-box .rang-row {
  padding: 0.24rem 0 0.24rem 0.2933333333rem;
  border-bottom: 1px solid #EBEBEB;
}

.show-data .history-data .range-box .rang-row .buy-bor {
  display: inline-block;
  width: 0.5333333333rem;
  height: 0.5333333333rem;
  line-height: 0.5333333333rem;
  background: #2C2C2C;
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.2933333333rem;
}

.show-data .history-data .range-box .rang-row span {
  color: #959EAB;
  font-size: 12px;
  vertical-align: middle;
}

.show-data .history-data .range-box .rang-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 0 15px 0;
}

.show-data .history-data .range-box .rang-two .rang-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #959EAB;
  font-size: 12px;
}

.show-data .history-data .range-box:last-child {
  margin-bottom: 0;
}

.instruction {
  padding: 0.6133333333rem 0.3733333333rem 0.3733333333rem 0.3733333333rem;
  background: #F4F5F8;
}

.instruction p {
  color: #B1BACF;
  font-size: 12px;
}

.suspension {
  position: fixed;
  right: 0.2666666667rem;
  top: 30%;
  z-index: 9999;
  border-radius: 0.9333333333rem;
  background: #ffff;
  box-shadow: 0 3px 5px #7681AC;
  width: 2.1333333333rem;
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
  text-align: center;
  color: #2E5CC6;
  font-size: 14px;
}

.suspension img {
  width: 0.5333333333rem;
  height: 0.5333333333rem;
}

.suspension span {
  vertical-align: middle;
}

/*# sourceMappingURL=green.css.map */